@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');


body{
    font-family: 'Lato', sans-serif;
    background-color: rgb(175,220,236);
}

.btn{
    margin-left: 60px;
    margin-top: 60px;
}

.box{
    width:260px;
    
}

h6{
    padding: 10px;
    height:40px;
    margin-top: 80px;
    margin-left: 60px;
    border-radius: 30px;
    text-align: center;
    background-color: aliceblue;
}


h4{
    margin-top: 80px;
    text-align: center;
}


.logo-act-1{
    display:block;
    border: 4px soolid rgb(0,229,255);
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.logo-act-2{
    display:block;
    border: 4px soolid rgb(0,229,255);
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.logo-act-3{
    display:block;
    border: 4px soolid rgb(0,229,255);
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.activity-vector{
    padding: 10px;
    margin: auto;
}

.box-2{
    width:260px;
    margin-left: auto;
    margin-right: auto;
}

p{
    padding: 10px;
    height:40px;
    margin-top: 50px;
    border-radius: 30px;
    text-align: center;
    background-color: aliceblue;
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }

    header.navbar {
        flex-direction: column;
      }
     
    header.navbar .nav-list ul {
        flex-wrap: wrap;
        column-gap: .5rem;
    }
    
    .featured-image{
        width: 100%;
        height: auto;
    }
}